*.class
*.log
*.lock

#package file#
*.jar
*.war
*.ear
target/

#idea
.idea/
*.iml

*velocity.log*

###sts###
.apt_generated
.factorypath
.springBeans


###IntelliJ IDEA###
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings/
bin/


*.log
tmp/

#rebel
*rebel.xml*